body {
  background: #1b1c1e;
}
.App {
  width: 90%;
  height: fit-content;
  margin: auto;
  color: #fff;
}
.logo {
  display: flex;
  margin: auto;
  padding: 20px;
}
svg {
color: rgb(255, 255, 255);
padding: 0px;
box-sizing: inherit;
fill: rgb(255, 232, 31);
width: 100%;
max-width: 30rem;
}
.background {
  background-color: #272C33;
  margin: 20px;
  border-radius: 10px;
  width: 400px;
  height: 300px;
}


.background {
  background-image: url("https://finmavis.github.io/swapi-task/static/media/bg-card-6.b4fea25d.png");
}
.background:hover {
  box-shadow: rgb(32, 152, 209) 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px;;
}
.movie-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  list-style-type: none;
}
.more-info {
  border-top: 1px solid red;
  width: 90%;
  margin: auto;
  padding: 10px 0;
}
.more-info a {
  text-decoration: none;
  color: yellow;
}
h3 {
    font-family: "Star Jedi", "Open Sans", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin: 0;
    padding: 30px 0 0 20px;
    
}
span {
  padding-left: 20px;
  opacity: 0.5;
}
p {
   font-family: inherit;
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    /* white-space: normal; */
    padding-left: 20px;
}
.error, .fetching {
  text-align: center;
}



@media (max-width: 416px) {
  * {
   margin: 0;
   padding: 0;
  }
  .App {
    margin: 0;
    width: 100%;
  }
  .logo {
    margin-top: -20px;
    margin-left: -20px;
    display: block;
     width: 100%;
  }
  .background {
    margin: 0 0 20px 0;
    width: 400px;
    height: 300px;
  }
  .movie-card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .more-info {
    margin: 20px auto;
  }
  
}

@media (max-width: 412px) {
  * {
   margin: 0;
   padding: 0;
  }
  .App {
    margin: 0;
    width: 100%;
  }
  .logo {
    margin-top: -20px;
    margin-left: -20px;
    display: block;
     width: 100%;
  }
  .background {
    margin: 0 0 20px 0;
    width: 400px;
    height: 300px;
  }
  .movie-card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .more-info {
    margin: 20px auto;
  }
  
}

@media (max-width: 393px) {
  * {
   margin: 0;
   padding: 0;
  }
  .App {
    margin: 0;
    width: 100%;
  }
  .logo {
    margin-top: -20px;
    margin-left: -20px;
    display: block;
     width: 100%;
  }
  .background {
    margin: 0 0 20px 0;
    width: 400px;
    height: 300px;
  }
  .movie-card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .more-info {
    margin: 20px auto;
  }
  
}

@media (max-width: 360px) {
  * {
   margin: 0;
   padding: 0;
  }
  .App {
    margin: 0;
    width: 100%;
  }
  .logo {
    margin-top: -20px;
    margin-left: -20px;
    display: block;
     width: 100%;
  }
  .background {
    margin: 0 0 20px 0;
    width: 400px;
    height: 300px;
  }
  .movie-card {
    display: grid;
    grid-template-columns: 1fr;
  }
  
}
@media (max-width: 320px) {
  * {
   margin: 0;
   padding: 0;
  }
  .App {
    margin: 0;
    width: 100%;
  }
  .logo {
    margin-top: -20px;
    margin-left: -20px;
    display: block;
     width: 100%;
  }
  .background {
    margin: -20px 0 40px 0;
    width: 400px;
    height: 300px;
  }
  .movie-card {
    display: grid;
    grid-template-columns: 1fr;
  }
  
}